/* CSS table */
.category .ant-table.ant-table-bordered {
  background: #c3dafc !important;
  border: thick double #fdfdfd;
}
.category .ant-table-wrapper .ant-table-thead > tr > th {
  background: #4788e7 !important;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
}
.category .ant-dropdown-trigger.ant-table-filter-trigger {
  color: rgb(255 242 242 / 40%);
}

.category .ant-table-wrapper .ant-table-column-sorter {
  color: rgb(255 242 242 / 40%);
}
.category .ant-table-tbody > tr > td {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: rgb(55 65 81);
}
.category .ant-table-column-sort {
  background: transparent;
}
.category .ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: #f4fddd !important;
}
/* CSS modal */
.ant-modal.category-modal .ant-btn-primary {
  background-color: #056dff;
}
.ant-modal.category-modal .ant-modal-header {
  margin-bottom: 16px;
}
.ant-modal.category-modal .ant-modal-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: rgb(91 33 182);
}
.ant-modal.category-modal
  .ant-modal-footer
  .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #ffa640;
  border-color: #ff9c40;
}
.ant-modal.category-modal
  .ant-modal-footer
  .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #4996f5;
}
.ant-modal.category-modal .ant-form-item .ant-form-item-label > label {
  font-size: 16px;
  font-weight: 500;
  color: rgb(75 85 99);
  width: 105px;
}
.ant-modal.category-modal
  .ant-form-item
  .ant-form-item-control-input
  .ant-input {
  font-size: 16px;
  font-weight: 500;
  color: rgb(107 114 128);
}

.ant-modal.category-modal
  .ant-select-single.ant-select-show-arrow
  .ant-select-selection-item {
  color: rgb(107 114 128);
  font-size: 16px;
  font-weight: 500;
}
